<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Soundscape POC</title>
    <base href="./../../" />
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="src/assets/icons.css">
    <link rel="stylesheet" href="src/assets/main.css">
    <script src="node_modules/howler/dist/howler.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/moment/locale/it.js"></script>
    <script src="node_modules/angular-moment/angular-moment.js"></script>
    <script src="node_modules/angular-duration-format/dist/angular-duration-format.js"></script>
    <script src="node_modules/waveform-data/dist/waveform-data.js"></script>

    <script src="src/SoundscapeApp.js"></script>    
    <script src="src/services/LibraryProvider.js"></script>
    <script src="src/services/TickerProvider.js"></script>
    <script src="src/services/SoundbankProvider.js"></script>
    <script src="src/models/Sound.js"></script>
    <script src="src/models/Effect.js"></script>
    <script src="src/models/Theme.js"></script>
    <script src="src/controllers/SoundscapeController.js"></script>
</head>

<body ng-app="SoundscapeApp" ng-cloak="">
<div ng-controller="SoundscapeController as soundscape" layout="column" class="soundscape" ng-cloak>

    <section layout="row" flex>

        <!-- <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding>
                foo bar
            </md-content>

        </md-sidenav> -->
        <div layout="column" flex>
        <md-content flex="" layout-padding>

            <div layout="column" layout-align="top center">
               
            <md-grid-list class="trackList" layout-fill flex md-cols-xs="3" md-cols-sm="4" md-cols-md="6" md-cols-lg="8" md-cols-gt-md="10" 
                md-row-height="7:6"
                md-gutter="5px" md-gutter-gt-sm="8px">

                <md-grid-tile class="md-primary" 
                ng-dblclick="sound.play(!sound.playing())" 
                ng-class="{'playing':sound.playing()}"  
                md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="sound in soundscape.sounds" ng-style="::sound.extra.coverstyle">
                    <div class="spinner"></div>
                    <md-grid-tile-header ng-mouseleave="sound.extra.sv = false">
                        <div layout="row" layout-align="space-between center" flex="">
                            <!-- <md-button ng-click="sound.play(!sound.playing())" ng-class="{'md-accent':sound.playing()}"  class="md-fab md-mini md-primary">
                                <md-icon>{{sound.playing()? 'pause' : 'play_arrow'}}</md-icon>
                            </md-button> -->
                            <div layout="row" layout-align="space-between center" ng-class="{'absolute fill':sound._sv}" flex="{{sound.extra.sv ? '100' : ''}}">
                                <md-button class="md-icon-button" ng-click="sound.toggleMute()" ng-mouseover="sound.extra.sv = true">
                                    <md-icon>{{sound.mute ? 'volume_off' : 'volume_up' }}</md-icon>
                                    <md-tooltip>{{shound.mute ? "Riattiva" : "Muto"}}</md-tooltip>
                                </md-button>
                                <div class="absolute" style="min-width:calc(100% - 80px)">
                                    <md-slider-container  ng-if="sound.extra.sv">
                                        <md-slider style="min-width: initial" ng-model="sound.vol" min="0" max="100" step="1" class="md-primary" ng-mouseup="sound.applyVol()"
                                        ng-mousemove="sound.applyVol()" ng-keyup="sound.applyVol()" aria-label="volume" id="vol-slider"></md-slider>                         
                                    </md-slider-container>
                                </div>
                                <div type="number" aria-label="volume" aria-controls="vol-slider" class="volval">{{sound.vol}}%</div>
                            </div>        
                            <div layout="row" layout-align="end center"  ng-if="!sound.extra.sv" flex>
                                <md-button ng-click="sound.stop()" class="md-icon-button" ng-disabled="!sound.isLoaded()">
                                    <md-icon>stop</md-icon>
                                </md-button>
                                <md-button ng-click="sound.toggleLoop()" class="md-icon-button" ng-class="{'md-primary':sound.loop}">
                                    <md-icon>repeat</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-grid-tile-header>
                    <div layout="column" class="snippet">
                        <div class="playbig" layout="row" layout-align="center center">
                            <md-button layout="row" layout-align="center center" ng-click="sound.play(!sound.playing())" 
                            ng-class="{'md-accent':sound.playing()}"  class="md-fab md-primary">
                                <md-icon>{{sound.playing()? 'pause' : 'play_arrow'}}</md-icon>
                            </md-button>
                        </div>
                        <div class="category font-effect-emboss">{{sound.category}}</div>
                        <div class="label" layout="row" layout-align="center center">{{sound.label}}</div>
                    </div>
                         
                            <!-- <div layput="row" ng-if="false" >
                            <md-slider-container flex>
                                <md-button class="md-icon-button" ng-click="sound.toggleMute()">
                                    <md-icon>{{sound.mute ? 'volume_off' : 'volume_up' }}</md-icon>
                                    <md-tooltip>{{shound.mute ? "Riattiva" : "Muto"}}</md-tooltip>
                                </md-button>
                                <md-slider felx="50" ng-model="sound.vol" min="0" max="100" md-discrate step="1" class="md-primary" ng-mouseup="sound.applyVol()" ng-mousemove="sound.applyVol()"
                                ng-keyup="sound.applyVol()" aria-label="volume"></md-slider>                                               
                            </md-slider-container>
                            </div> -->
                    <md-grid-tile-footer class="hover" layout="row" layout-align="space-between center">
                        <div class="progress" ng-style="soundscape.progressStyle(sound)"></div>
                        <h3 ng-if="sound.played > 0">{{sound.played * 1000 | duration:'mm:ss .ssss' }}</h3>
                        <h3 ng-if="sound.played <= 0">{{sound.duration * 1000 | duration:'mm:ss .ssss' }}</h3>                        
                        <div class="seeker" ng-click="soundscape.soundSeek($event, sound)"></div>
                    </md-grid-tile-footer>
                </md-grid-tile>

            </md-grid-list>
            </div>

            <div flex></div>

        </md-content>
        
        <div id="player" layout="row" layout-align="center center" flex>
            <md-slider-container>
                    <md-button class="md-icon-button" ng-click="$root.global.mute = !$root.global.mute">
                        <md-icon>{{$root.global.volIcon}}</md-icon>
                        <md-tooltip>{{$root.global.mute ? "Riattiva" : "Muto"}}</md-tooltip>
                    </md-button>
                
                    <md-slider ng-model="$root.global.volume" min="0" max="100" md-discrete step="1"
                    aria-label="volume globale"></md-slider>
            </md-slider-container>
        </div>


    </section>
    

</div>


</html>