@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin-ext&effect=emboss|outline');
/*
font-effect-XXXX
https://developers.google.com/fonts/docs/getting_started
*/
body{
    font-family: 'Roboto', sans-serif;
}

.hover .onhover{
    display: none;
}
.hover:hover .onhover{
    display: block;
}
.soundscape md-content{
    padding-bottom:90px;
}
.asbolute{
    position: absolute;
}
.relative{
    position: relative;
}
.fill{
    width:100%;
    height:100%;    
}
#player {
    height: 90px !important;
    z-index: 70;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
}
.trackList md-grid-tile-header figcaption{
    width: 100%;
}
.trackList md-grid-tile-header .md-button {
    margin: 0;
    padding: 0;
}
.trackList md-grid-tile-header .volval {
    font-size: 80%;
    margin: 0 5px;
}
.trackList md-grid-tile-footer,.trackList md-grid-tile-header{
    height: 30px;
    background-color:rgba(0, 0, 0, 0.55);
    z-index:10;
}
.trackList md-grid-tile-footer h3{
    text-shadow : -1px -1px 0 #000, 1px -1px 0 #000,  -1px 1px 0 #000,  1px 1px 0 #000;
    position: absolute;
    height: 30px;
    bottom: 0px;
    line-height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
.trackList md-grid-tile{
    border-radius: 10%;
    overflow: hidden;
}
.trackList md-grid-tile:hover{
    opacity: 1;
    filter: none;
}
.trackList md-grid-tile.playing {
    opacity:1;
    filter:none;
    box-shadow:0 0 20px 0px rgb(205, 220, 57);
}

.trackList md-grid-tile figure{
    background: transparent;
    border-radius: 10%;
    overflow: hidden;
}
.trackList md-grid-tile.playing .spinner {
    background-image: url(images/music.png);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: yoyo;
    animation-timing-function: linear;
}
.trackList md-grid-tile .spinner {
    background-image: url(images/music@gs.png);
    display: block;
    width: 150%;
    height: 150%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 82%;
    mix-blend-mode: color-dodge;
    z-index: 1;
}
.trackList md-grid-tile .snippet .cover,
.trackList md-grid-tile .snippet .playbig,
.trackList md-grid-tile .snippet .label {
    width: calc(100%);    
}
.trackList md-grid-tile .snippet .cover,
.trackList md-grid-tile .snippet .playbig,
.trackList md-grid-tile .snippet .label,
.trackList md-grid-tile .snippet .category {
    text-align: center;
    position: absolute;
    left:0;
    height: calc(100% - 30px - 30px);
    top:30px;
    bottom:30px;
    margin: 0;
    padding: 0;    
}
.trackList md-grid-tile .snippet .label{
    width: calc(100% - 40px);
    margin-left: 20px;
}
.trackList md-grid-tile .snippet .category {
    transform: rotate(-90deg);
    font-size: 15px;
    text-transform: uppercase;
    width: calc(100% - 30px - 30px);
    margin-left:-15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;    
    color: transparent;
}

.trackList md-grid-tile, .trackList md-grid-tile .snippet .cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.trackList md-grid-tile .snippet .playbig {
    filter: blur(2px) brightness(0.5);
    visibility:hidden;                                                                                    
    z-index: initial;
}
.trackList md-grid-tile:hover .snippet .playbig {
    filter:none;
    visibility:visible;
    z-index: initial;
}
 .trackList md-grid-tile:hover .snippet .label {
    filter: blur(2px) brightness(0.5);
    user-select: none;
}
 .trackList md-grid-tile .snippet .label {
     filter:none;
     text-shadow: -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 4;
     -webkit-box-orient: vertical;
     -webkit-box-align: start;
     font-size: 17px;
     font-weight: 600;
    text-align: -webkit-center;
}
.trackList .seeker, .trackList .progress{
    position:absolute;
    bottom:0px;
    left: 0px;
    height: 100%;
}
.trackList .seeker{
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    cursor: col-resize;
}
.trackList .progress{
    background-color: rgba(205, 220, 57, .75);
    opacity: 0.8;
    mix-blend-mode: hard-light;
}

@-webkit-keyframes yoyo { 
    from {-webkit-transform:scale(1) rotate(0deg);}
    to {-webkit-transform:scale(1) rotate(360deg);} 
}


@-moz-keyframes yoyo { 
    from {-moz-transform:scale(1) rotate(0deg);}
    to {-moz-transform:scale(1) rotate(360deg);} 
}